Bonjour et merci pour votre confiance !
<p>
	Voilà 15 jours que vous utilisez votre boîte mail Iroco : nous espérons que cette expérience vous
	est agréable et utile.
</p>
<p>
	Avez-vous pensé à configurer votre calendrier et vos contacts ? Ceci vous permet notamment de
	synchroniser vos données (rendez-vous, contacts) entre vos différents appareils. Si vous avez
	besoin d'aide pour cette configuration, n'hésitez pas à consulter
	<a href="https://app.iroco.co/app/account/help">nos tutoriels</a>.
</p>
<p>
	Vous pouvez également consulter vos mails, votre agenda et vos contacts sur mobile, en utilisant
	par exemple l'application open source <a href="https://k9mail.app/">K-9</a> Mail pour Android,
	mais il en existe beaucoup d'autres.
</p>
<p>
	Votre période d'essai gratuite expirera dans 15 jours. L'expérience vous plaît et vous souhaitez
	conserver votre boîte mail au-delà des 30 jours d'essai ? Rien de plus simple : il vous suffit de
	vous rendre dans votre tableau de bord utilisateur et de
	<a href="https://app.iroco.co/app/account/payment">vous abonner définitivement</a>. Pensez à vous
	munir de votre IBAN !
</p>
<p>
	A quoi sera utilisé le montant de votre abonnement ? Il nous sert à financer le fonctionnement de
	nos services : les serveurs qui hébergent nos applications et nos données, la rémunération du
	temps que nous passons à maintenir et développer les outils que nous vous proposons, quelques
	services tiers que nous avons choisi de confier à des prestataires... C'est ce financement qui
	nous permet de vous proposer un service éthique et respectueux de votre vie privée, précisément
	parce que notre modèle ne repose pas sur la vente de vos données personnelles ou du ciblage
	publicitaire. Pour résumer, vous abonner à Iroco, c'est contribuer à financer un numérique plus
	vertueux, plus responsable et plus convivial ! Alors, qu'attendez-vous ?
</p>
<p>L'équipe Iroco</p>
