Bonjour et merci pour votre choix d'une boîte mail responsable !
<p>
	Attention, votre période d'essai gratuite expire demain. Si vous souhaitez continuer à utiliser
	votre boîte mail passé ce délai, il vous suffit de vous rendre dans votre tableau de bord
	utilisateur et de
	<a href="https://app.iroco.co/app/account/payment">vous abonner définitivement</a>. Pensez à vous
	munir de votre IBAN pour finaliser votre abonnement.
</p>
<p>
	Dans le cas contraire, vous ne pourrez bientôt plus envoyer ni recevoir de messages, ni accéder au
	contenu de votre boîte mail. Si vous ne souhaitez pas vous abonner définitivement, nous vous
	conseillons de sauvegarder le contenu de votre boîte mail dès maintenant afin de ne pas perdre vos
	messages.
</p>
<p>
	Une question, une suggestion, une remarque ? Répondez simplement à ce mail, ou venez échanger avec
	nous sur <a href="https://mastodon.social/@iroco">Mastodon</a>,
	<a href="https://www.linkedin.com/company/irocodigital/">LinkedIn</a> ou
	<a href="https://twitter.com/IrocoDigital">Twitter</a>.
</p>
<p>
	N'attendez plus pour contribuer à un numérique plus vertueux, plus responsable et plus convivial :
	rejoignez la communauté !
</p>
<p>L'équipe Iroco</p>
